My workflow (2).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "event": "=messageReceived",
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        240
      ],
      "id": "43b29a26-a484-45a1-aa0a-2aa2a480ceb7",
      "name": "Gmail Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ff4a2f4a-4b29-4e79-a34c-7908fd7bea68",
              "name": "snippet",
              "value": "={{ $json.snippet }}",
              "type": "string"
            },
            {
              "id": "ca4a9895-29a6-4228-b722-cc19e0f458cc",
              "name": "threadId",
              "value": "={{ $json.threadId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        240
      ],
      "id": "77f5ff7e-f39b-439d-956d-4fe9cae2df0e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "Analyze the content of the following email and determine whether it is related to customer support. If the email pertains to any of the following topics, mark customerSupport as true; otherwise, mark it as false."
            },
            {
              "role": "system",
              "content": "={{ $json.snippet }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        656,
        240
      ],
      "id": "369cb805-7048-4c2b-8896-e09bd24d2776",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "E0IDhqffaSDQ61xq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output[0].content[0].text }}",
                    "rightValue": "True",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "0358c571-a4f7-4600-ab64-309aa324f342"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Customer Support"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e93142e3-6733-487c-b456-6cbc9c45b43d",
                    "leftValue": "={{ $json.output[0].content[0].text }}",
                    "rightValue": "False",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Not Customer VALUE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1008,
        240
      ],
      "id": "f87e38a6-626f-499d-a0a0-b4d183ff4386",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "chat",
        "chatId": "5000805535"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1216,
        336
      ],
      "id": "3ac5aba7-727e-4476-97b8-83e4bdcdf6c7",
      "name": "Get a chat",
      "webhookId": "f61c3729-3d88-4c4e-a941-f99c69ed4da2",
      "credentials": {
        "telegramApi": {
          "id": "hbrxN5VE6jmKWWoD",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [],
        [
          {
            "node": "Get a chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c9999be5-2b4a-4ee7-b929-88f155c2ddf0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "128bd63f361efaed75f738d10e64b03d8a57d5a4d801ea71bf225dfed4c49182"
  },
  "id": "CzsJQ8NKMX4ipHOA",
  "tags": []
}